:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: rgb(51, 51, 51);
  --primary-color: rgb(37, 86, 249);
  --decreaseMain-color: rgb(62, 118, 252);
  --decreaseWhite-color: rgba(255, 255, 255, 0.804);
  --border-color: rgb(160, 159, 159);
  --Decreaseborder-color: rgba(131, 169, 246, 0.18);
  --header-height: 100px;
  --navbar-height: 34px;
  --searchbar--height: calc(var(--header-height) - var(--navbar-height));
  --textDecrease-color: rgb(107, 105, 105);
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* reponsive */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0px auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.grid__column1 {
  padding-left: 5px;
  padding-right: 5px;
  width: 8.333333%;
}

.grid__column2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.66667%;
}

.grid__column3 {
  padding-left: 5px;
  padding-right: 5px;
  width: 25%;
}

.grid__column4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 33.3333333%;
}

.grid__column9 {
  padding-left: 5px;
  padding-right: 5px;
  width: 75%;
}

.grid__column10 {
  width: 83.33333%;
  padding-left: 5px;
  padding-right: 5px;
}

.grid__column12 {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.grid__column-product {
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;

}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.span {
  font-size: 1.4rem;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.01);
  }

  to {
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
  }
}

@keyframes Growth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideDown {
  from {
    top: 20%;
  }

  to {
    top: -100%+30px;
  }
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__body {
  background-color: #fff;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  animation: Growth linear 0.2s;
}

/* button style */
.btn {
  height: 36px;
  border: none;
  text-decoration: none;
  border-radius: 2px;
  font-size: 1.3rem;
  padding: 0 8px;
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--white-color);
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.btn--primary:hover {
  background-color: var(--decreaseMain-color);
}

.btn--hover:hover {
  background-color: var(--decreaseWhite-color);
}

.btn.btn--disabled {
  cursor: default;
  background-color: #c3c3c3;
  color: #fcfcfc;
}

.btn.btn--sizeS {
  font-size: 12px;
  height: 18px;
  min-width: 60px;
}

.btn.btn--sizeM {
  min-width: 100px;
  height: 32px;
}

.btn.btn--sizeL {
  min-width: 162px;
  height: 35px;
}

.btn__icon--facebook {
  object-fit: contain;
  width: 20px;
  height: 20px;
}

.btn__icon--google {
  object-fit: contain;
  width: 20px;
  height: 20px;
}

.app {
  background-color: var(--Decreaseborder-color);
}

/* selection  */
.selection {
  min-width: 200px;
  height: 36px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.select__label {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 500;
}

.select__icon {
  font-size: 1.4rem;
  color: var(--text-color);

  top: 1px;
  padding: 0 8px;
  margin-right: 2px;
}

.selection-box {
  position: absolute;
  top: calc(100% - 8px);
  background-color: var(--white-color);
  width: 100%;
  left: 0;
  padding-left: 0;
  border-radius: 2px;
  display: none;
  box-shadow: 0 1px 5px #b7b7b7;
  animation: slideDown linear 0.1s;
}

.selection:hover .selection-box {
  display: block;
}

.selection::after {
  position: absolute;
  content: "";
  display: block;
  border: 10px solid transparent;
  width: 90%;
  top: 70%;
  right: -2px;
}

.selection-item {
  position: relative;
  text-decoration: none;
  margin-left: 12px;
  padding: 8px 16px;
  text-align: left;
  cursor: pointer;
  transition: right linear 0.1s;
  right: 0;
}

.selection-item:hover {
  color: var(--primary-color);
  right: -4px;
}

.icon-fla--mini {
  object-fit: contain;
  height: 12px;
  width: 12px;
  border-radius: 2px;
}

.icon-fla--medium {
  object-fit: contain;
  height: 32px;
  width: 32px;
  border-radius: 2px;
}

.icon-fla--big {
  object-fit: contain;
  height: 80px;
  width: 80px;
  border-radius: 2px;
}

/* pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

}

.pagination-item {
  margin: 0 12px;

}

.pagination-item--link {
  --height: 30px;
  font-size: 2rem;
  min-width: 40px;
  height: var(--height);
  display: block;
  text-align: center;
  line-height: var(--height);
  color: var(--text-color);
  border-radius: 2px;

}

.pagination-item.pagination-item--actived {
  background-color: var(--Decreaseborder-color);
  color: var(--white-color);
}

.pagination-item:hover {
  background-color: rgba(224, 221, 221, 0.548);
}

a {
  color: rgb(51, 122, 183);
  font-size: 1.3rem;
}