/* mobile and tablet mini */
@media (max-width: 1024px) {
  :root {
    --header-height: 70px;
    --navbar-height: 0px;
  }

  .hide-on-mobile-and-tablet {
    display: none;
  }
  .sidebar__category{
    display: block;
  }
  .sidebar__icon{
    color: var(--white-color);
    font-size: 2.8rem;
  }

  .header__cart--icon{
    font-size: 1.8rem;
  }
  .category{
    max-height: 410px;
  }
  .slideshow-container{
    max-height: 410px;
  }
  .sidebar__content{
    display: block;
  }

}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
  .slideshow-container{
    max-height: 360px;
  }
  .category{
    max-height: 360px;
  }
}
/* mobile */
@media (max-width: 740px) {
  .hide-on-mobile {
    display: none;
  }
  .sidebar__content{
    display: block;
    width: 100%;
  }
  .searchbar-mobile{
    display: block;
  }
  .cart__box{

  }
}

